<div>
  <div login-header></div>

  <div class="col-12 col-md-5 border rounded-4 p-4 mx-auto mt-5 shadow-lg"
    style="background-image: linear-gradient(220deg, #fff0f5, #e0ffff,#b0c4de)">

    <h5 class="text-dark fw-bold">Login</h5>
    <small class="text-secondary">Sign In To Quiz</small>
    <hr />
    <form ng-submit="login()" class="text-center">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" ng-model="username" id="username" placeholder="ex:Jhon_764" />
        <label for="username">Username</label>
      </div>
      <p class="text-danger">{{usernameError}}</p>
      <div class="form-floating">
        <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password" />
        <label for="password">Password</label>
      </div>
      <p class="text-danger">{{passwordError}}</p>
      <button type="submit" class="delete_button col-6 col-md-4 fw-bold fs-5 mt-3 register"
        style="background-image: linear-gradient(220deg, #95445f, #3e7c7c,#4873ab)">
        Login
      </button>
      <p class="text-danger fw-bold mt-3">{{userNotFoundErr}}</p>
    </form>
  </div>
</div>