
a{
  text-decoration: none !important;
}

/*navbar css */
.search-container{
    background-color: #f0f5ff;
}

.search-container button,input{
    border: none !important;
}
.search-container input{
    background-color: transparent;
}
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
  }

  .dropbtn a{
    font-size: 15px;
    font-family: sans-serif;
  }
  .dropbtn a i{
    font-size: 22px;
  }

  
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn:hover a{
    color: white !important;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-wrap: nowrap;
  }
  
 
  .dropdown-content a:hover {background-color:white;}
  

  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color:#2A55E5;color:white;}

  