<div ng-controller="main">
    <header>
        <div class="m-auto d-flex align-items-center justify-content-between p-4"
            style="height: 70px;max-width: 1600px;">
            <a href="" class="d-flex align-items-center text-decoration-none ">
                <img src="https://www.google.com/gmail/about/static-2.0/images/logo-gmail.png?fingerprint=c2eaf4aae389c3f885e97081bb197b97"
                    alt="" width="30px" height="30px">
                <span class="headerLogo d-flex align-items-center ms-2">
                    Gmail
                </span>
            </a>
            <div class="d-flex p-1">
                <a href="" class="navigateToWork p-2 d-none d-lg-block">For work</a>
                <a href="" class="navigateTosignIn ms-3 ps-4 pe-4 pt-2 pb-2 " ui-sref="login">Sign in</a>
                <a href="" class="navigateToCreate d-flex align-items-center p-2 ms-3 pt-1 pb-1"
                    ui-sref="register">Create an account</a>
            </div>
        </div>
    </header>
    <div class="row col-12 col-lg-10 m-auto" style="height: 80vh;">
        <div class="col-5 d-flex flex-column align-content-center justify-content-center" style="white-space: no-wrap;">
            <p class="mainTitle">Secure, smart, and easy to use email</p>
            <span>Get more done with Gmail. Now integrated with Google Chat, Google Meet, and more, all in one place.
            </span>
            <br>
            <div class="d-flex">
                <span class="createAccount p-3 text-white" role="button" ui-sref="register">Create an
                    account</span><span class="navigateToForWork p-3" role="button">For work</span>

            </div>
        </div>

        <div class="col-10 col-lg-7 ">
            <img src="https://lh3.googleusercontent.com/PWXM4hp9lRRezHTV86SqLwhRQMz4_Lk08jll3GkWBvBZy_Uk6kvUvwIrVilwaIW2mHZJoccchG6o9a5UdOJEwQPf9oJGmOGSglo3VW0=rw-e365-w2880"
                alt="" width="100%" height="100%" class="ms-5">
        </div>

    </div>

</div>