<admin-navbar></admin-navbar>
<div ng-init="width = 'me-3 side-half'">
  <div ng-show="loader" id="preloader">
    <div id="loader"></div>
  </div>
  <div class=" {{width}} ms-auto px-5">
    <input
      type="text"
      ng-model="searchItem"
      class="form-control"
      placeholder="Search Current Orders"
    />
  </div>

  <div class="container my-5 checkout-bg {{width}}">
    <div class="row">
      <div class="col-12">
        <h1>ALL CURRENT ORDERS</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Customer ID</th>
              <th>Order ID</th>
              <th>Order Date</th>
              <th>Order Status</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="order in orders | filter:searchItem track by $index">
              <td>{{order.product_name}}</td>
              <td>{{order.customer_id}}</td>
              <td>{{order.order_id}}</td>
              <td>{{order.order_date}}</td>
              <td>
                <span ng-show="!order.editingStatus"
                  >{{order.order_status}}</span
                >
                <div ng-show="order.editingStatus" class="d-flex">
                  <select
                    class="form-select"
                    ng-model="order.order_status"
                    ng-options="status for status in orderStatusOptions"
                  ></select>
                  <button
                    class="btn btn-primary ms-2"
                    ng-click="saveStatus(order)"
                  >
                    Save
                  </button>
                </div>
              </td>

              <td>{{order.unit_price | currency}}</td>
              <td>{{order.quantity}}</td>
              <td>
                <div
                  class="btn btn-danger"
                  ng-click="removeOrder(order.id, $index)"
                >
                  Remove
                </div>
                <div class="btn btn-warning" ng-click="editStatus(order)">
                  {{order.editingStatus ? 'Cancel' : 'Edit Status'}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
