* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    text-decoration: none;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  }
  
  body {
    padding-bottom: 30px;
    position: relative;
    /* min-height: 100%; */
  
  }
  
  a {
    transition: background 0.2s, color 0.2s;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 95%;
    margin-left: -250px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #08254f;
    color:white;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 75px;
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav>li {
    text-indent: 10px;
    line-height: 42px;
  }
  
  .sidebar-nav>li a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: #fff;
    /* font-weight: 600; */
    font-size: 14px;
  }
  
  .sidebar-nav li a {
    display: block;
    color: #fff !important;
    /* border-bottom: 1px solid #e0e0e0; */
  
  }
  
  .sidebar-nav li:hover  {
    background-color: #778899;
    /* background-color:#8292a1; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-left: 3px solid lightpink;
  
  }
  
  .sidebar-nav li:hover active {
    background-color: #778899;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-left: 3px solid lightpink;
  }
  
  
  /*---*/
  .logo-image {
    height: 60px;
    width: 200px;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .login-time {
  
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans',sans-serif; */
    color: white;
    font-size: 12px;
    font-weight: 400;
  
  }
  
  .menu-button {
    background-color: #708090;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    /* margin-right: 5px; */
  }
  
  .menu-button1 {
    background-color: #708090;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    /* margin-right: 5px; */
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-options {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  
  .dropdown:hover .dropdown-options {
    display: block;
  
  }
  
  .dropbtn {
    display: flex;
    padding: 6px 11px;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
  
  
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .drops {
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 12px;
    font-weight: 400;
  
  
  }
  
  .drops:hover {
    background-color: #00498d;
    color: white;
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 12px;
    font-weight: 400;
  
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  @media screen and (min-width: 992px) {
    .navbar .nav-items .dropdown-menu {
      display: block;
      visibility: hidden;
    }
  
    .navbar .nav-items .nav-link {
      color: red;
      background-color: #708090;
    }
  
    .navbar .nav-items:hover .nav-link {
      color: red;
      background-color: #708090;
    }
  
    .navbar .nav-items:hover .dropdown-menu {
      visibility: visible;
    }
  }
  
  
  /*---*/
  
  #navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
  
  
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-image: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg");
    margin-bottom: 0;
    border-radius: 0;
  
  }
  
  #navbar-wrapper .navbar a {
    color: #757575;
  }
  
  /*open-close*/
  #navbar-wrapper .navbar a:hover {
    color: #fff;
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
  
    top: 100px;
    height: 100vh;
    background-color: lightgray;
    overflow-y: auto;
  }
  
  .inside-content-wrapper {
    background-color: white;
  }
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  @media (min-width: 992px) {
    /* #wrapper {
      padding-left: 250px;
    }
   */
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 0px;
    }
  
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 0px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }

  @media (max-width: 767px) {
    .sidebar-nav>li {
      text-indent: 10px;
      line-height: 42px;
    }
    
    .sidebar-nav>li a {
      font-family: 'Open Sans', sans-serif;
      display: block;
      text-decoration: none;
      color: #fff;
      /* font-weight: 600; */
      font-size: 14px;
    }
    
    .sidebar-nav li a {
      display: block;
      color: #fff;
      /* border-bottom: 1px solid #e0e0e0; */
    
    }
    
    .sidebar-nav li:hover a {
      background-color: #778899;
      /* background-color:#8292a1; */
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      border-left: 3px solid lightpink;
    
    }
    
    .sidebar-nav li:hover active {
      background-color: #778899;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      border-left: 3px solid lightpink;
    }
    
    /*  */
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
  
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: 250px;
    }
  }
  
  /*right -part*/
  .issue-cheque {
    background-color: #dbf0fe;
    border-radius: 5px;
  }
  
  .note-container {
    background-color: #fff3cd;
    border-radius: 5px;
    /* margin: 10px; */
    width: 60%;
  }
  
  .points {
    list-style-type: disc;
    font-size: 13px;
  }
  
  /*form*/
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0 10px 0;
    display: inline-block;
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 5px rgba(35, 35, 35, 0.1);
  }
  
  
  
  
  .error-message {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 14px;
    /* margin-left: 230px; */
  }
  
  .error-message1 {
    color: black;
    font-family: "Roboto";
    font-size: 14px;
    text-align: start;
    
  
  
  }
  
  
  .radio {
    font-size: 14px;
    font-weight: 500;
  
  }
  
  .tranaction-type {
    background-color: #f6f6f6;
  }
  
  .choose {
    border: 1px solid #cacaca;
    border-radius: 5px;
  }
  
  
  /*upload*/
  .show-file-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px,
      #d1d5db3d 0px 0px 1px inset;
  
  }
  
  .left h4 {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  
  .right span {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  
  
  /*extra*/
  .offcanvas-header{
    background-color: #08254f;
    color: #fff;
    align-items: center;
  }
  .offcanvas{
    background-color: #08254f;
  }
  .offcanvas-body-left{
    background-color: #08254f;
  }


/**/
hr.hr-line {
  border-top: 2px dotted #708090;
}
.add-work-heading{
  font-size:17px;
  font-weight: 600;
}
.work-id{
  border:1px dotted #708090;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 4px;
}
.admin-section{
  border:1px solid #708090;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 4px;
}