<div class="row">
  <div class="col-2">
    <nav-bar></nav-bar>
  </div>

  <div class="col-12 col-md-10" id="dashBoardContent">
    <div class="d-flex px-2 py-4 justify-content-between">
      <div>
        <h5>Transactions</h5>
      </div>
      <div>
        <button class="btn btn-danger" ng-click="logout()">Logout</button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div
        class="spinner-border text-success mt-5"
        role="status"
        ng-show="showSpinner"
        id="spinner"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="row px-4" ng-show="!showSpinner">
      <div class="row g-2 transactionInputSection">
        <div class="col-md">
          <div class="form-floating">
            <select
              class="form-select transactionInputFields"
              id="floatingSelectGrid"
              ng-class="{'is-invalid' : transactionTypeErrMsg }"
              ng-model="selectedTransactionType"
              ng-change="populateParties()"
              ng-disabled="selectionDisabled"
            >
              <option value="" selected>Transaction Type</option>
              <option
                ng-repeat="transaction in transactions"
                value="{{transaction.value}}"
              >
                {{transaction.field}}
              </option>
            </select>
            <label for="floatingSelectGrid">Transaction Type</label>
            <p class="text-danger" ng-show="transactionTypeErrMsg">
              {{transactionTypeErrMsg}}
            </p>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select
              class="form-select transactionInputFields"
              id="floatingSelectGrid"
              ng-class="{'is-invalid' : partyErrMsg }"
              ng-model="selectedParty"
              ng-change="validateParty()"
              ng-click="alertTransaction()"
              ng-disabled="selectionDisabled"
            >
              <option value="" selected>Party Name</option>
              <option ng-repeat="party in filteredParties" value="{{party.id}}">
                {{party.party_name}}
              </option>
            </select>
            <label for="floatingSelectGrid">Party Name</label>
            <p class="text-danger" ng-show="partyErrMsg">{{partyErrMsg}}</p>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select
              class="form-select transactionInputFields"
              id="floatingSelectGrid"
              ng-class="{'is-invalid' : productErrMsg }"
              ng-model="selectedProduct"
              ng-change="validateProduct()"
              ng-click="alertTransaction()"
            >
              <option value="" selected>Product Name</option>
              <option
                ng-repeat="product in filteredProducts"
                value="{{product.id}}"
              >
                {{product.product_name}} / Price : {{product.product_price}} /
                Stock : {{product.stock === null?'0':product.stock}}
              </option>
            </select>
            <label for="floatingSelectGrid">Select Product</label>
            <p class="text-danger" ng-show="productErrMsg">{{productErrMsg}}</p>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input
              type="text"
              class="form-control transactionInputFields"
              id="floatingInputGrid"
              placeholder="Enter Quantity"
              value="Quantity"
              ng-class="{'is-invalid' : quantityErrMsg }"
              ng-model="quantity"
              ng-change="validateQuantity()"
            />
            <label for="floatingInputGrid">Quantity</label>
          </div>
          <p class="text-danger" ng-show="quantityErrMsg">{{quantityErrMsg}}</p>
        </div>
        <div class="col-1 ms-1">
          <div class="form-floating pt-2">
            <button
              class="btn btn-info addProductBtn py-2"
              ng-click="addProduct()"
            >
              Add Product
            </button>
          </div>
        </div>
      </div>

      <div
        class="table-responsive mt-5 col-8 ms-0 ms-md-4"
        ng-show="productsArray.length"
      >
        <table class="table table-dark table-striped text-white">
          <thead>
            <tr>
              <th class="w-25 text-center">Product Name</th>
              <th class="w-25 text-center">Quantity</th>
              <th class="w-25 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in productsArray">
              <td class="w-25 text-center">
                {{ getProductById(product.product_id).name }}
              </td>
              <td class="w-25 text-center">{{ product.quantity }}</td>
              <td class="w-25 text-center">
                <button
                  ng-click="removeProduct(product)"
                  class="btn btn-danger"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-info" ng-click="submitTransaction()">
          submit
        </button>
      </div>
      <div
        class="table-responsive mt-5 text-white col-12 col-md-8 ms-0 ms-md-4"
        id="transactionsTable"
      >
        <table class="table table-dark table-striped text-white">
          <thead>
            <tr>
              <thead>
                <tr>
                  <th class="text-center">Party</th>
                  <th class="text-center">Party Name</th>
                  <th class="text-center">Transaction Amount (in Rs.)</th>
                  <th class="text-center">Transaction Date</th>
                </tr>
              </thead>
            </tr>
          </thead>
          <tbody id="tableContent">
            <tr ng-repeat="item in transactionDetails |orderBy:'created_at'">
              <td class="w-25 text-center">{{ item.transaction_type }}</td>
              <td class="w-25 text-center">{{ item.party_name }}</td>
              <td class="text-end w-25">{{ item.price }}</td>
              <td class="w-25 text-center">
                {{ item.created_at | dateFilter }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
