<div>
    <div class="row col-10 m-auto mb-2">
        <div class="col-3 border">
             <div>TOTAL ORDERS</div>
             <small>count</small>
        </div>
        <div class="col-3 border">
            <div>CANCEL ORDERS</div>
            <small>count</small>
        </div>
        <div class="col-3 border">
            <div>Today orders</div>
            <small>count</small>

        </div>
        <div class="col-3 border">
            <div>not yet</div>
            <div>count</div>
        </div>
        

    </div>

</div>