
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ng-controller="headerController">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><img style="height:50px;width:50px" src="https://w7.pngwing.com/pngs/665/652/png-transparent-education-student-information-system-management-learning-student-microphone-class-people-thumbnail.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h5  style="text-align: center; color: white;">Student Information System</h5>
      <div class="ms-auto">
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <!-- <li>
                <a ui-sref="register">Register</a>
            </li> -->
            <!-- <li class="nav-item" ng-repeat="menuItem in menuItems">
                <a class="nav-link" ui-sref="{{menuItem.url}}" ui-sref-active="current">
                {{menuItem.name}}
                </a>
            </li> -->
            <li class="nav-item"><a class="nav-link" ui-sref="home" ui-sref-active="active">Home</a></li>
            <li class="nav-item"><a class="nav-link" ui-sref="register" ui-sref-active="active">Register</a></li>
            <li class="nav-item"><a class="nav-link" ui-sref="login" ui-sref-active="active">Login</a></li>
         
        </ul>
      </div>
    </div>
    </div>
  </nav>