<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Site</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
      integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/@uirouter/angularjs@1.0.7/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
            a {
          text-decoration: none; 
          border-bottom: 3px solid transparent; 
          transition: border-bottom-color 0.2s; 
        }

        a:hover {
          border-bottom-color:#F96281; 
        }
        .dropdown:hover .dropdown-menu {
            display: block;
        }
        .dropdown-toggle::after {
            display: none;
        }
    </style>
  </head>
  <body ng-controller="productlistCtrl" >
    <div >
      <nav class="navbar navbar-expand-lg   fixed-top" style="height: 80px;background-color: #ffff;font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);      ">
        <div class="container-fluid col-12">
          <div class="col-md-1 col-sm-6 ps-lg-5  m-auto" ui-sref="Home" type="button"><img src="./images/Screenshot 2023-10-19 at 11.55.44 PM.png" width="72px" ></div>
          <div class="col-4 ps-lg-5 collapse navbar-collapse " >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-1 me-1">
            <li class="nav-item ms-2 me-2">
                <a class="nav-link " ng-click="getProducts(1)" href="#"><small><b>MEN</b></small></a>
            </li>
              <li class="nav-item ms-2 me-2">
                <a class="nav-link" ng-click="getProducts(4)" href="#"><small><b>WOMEN</b></small></a>
              </li>
              <li class="nav-item ms-2 me-2">
                <a class="nav-link" ng-click="getProducts(3)" href="#"
                  ><small><b>ELECTRONICS</b></small></a
                >
              </li>
              <li class="nav-item ms-2 me-2">
                <a class="nav-link" ng-click="getProducts(2)" href="#"
                  ><small><b>JEWELLERY</b></small></a
                >
              </li>
            </ul>
          </div>
          <div class="col-4 d-none d-md-block">
            <div class="input-group ">
              <input class="form-control py-2 border-right-0 border" type="search" value="" placeholder="SEARCH" id="example-search-input">
            </div>
          </div>
          <div class="col-3 d-flex  justify-content-center gap-3 ">
            <div class="col-lg-2 col-6 text-center dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown">
                  <div><i class="bi bi-person"></i></div>
                  <small><b>PROFILE</b></small>
              </div>
              <div class="dropdown-menu">
                  <a class="dropdown-item" ui-sref="orders" href="#"><small><b>ORDERS</b></small></a>
                  <a class="dropdown-item" ng-show="show" ng-click="logins()" href="#"><small  ><b >LOGIN</b></small></a>
                  <a class="dropdown-item" ng-hide="show"  ng-click="logout()" href="#"><small ><b >LOGOUT</b></small></a>
              </div>
            </div>
             <div class="col-lg-2 text-center ">
                 <div><i class="fs-6 bi bi-heart"></i></div>
                 <small><b>WISHLIST</b></small>
             </div>
             <div class="col-lg-2 text-center" ui-sref="Cart">
                  <div><i class="bi bi-bag"><span ><small ng-bind="count" class="px-2 rounded-circle bg-danger text-white  position-absolute" style="top:4px;right: 6%;">1</small></span></i></div>
                  <small><b>BAG</b></small>
             </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-12 m-auto " ui-view></div>
    <script src="./../assets/main.js"></script>
    <script src="./../assets/login.js"></script>
    <script src="./../assets/registration.js"></script>
    <script src="./../assets/cart.js"></script>
    <script src="./../assets/individual.js"></script>
    <script src="./../assets/home.js"></script>
    <script src="./../assets/order.js"></script>
    <script src="./../assets/routes.js"></script>
  </body>
</html>
