<div class="web-loader" ng-if="displayLoader">

</div>
<div ng-if="!displayLoader">
    <nav class="navbar navbar-expand-lg p-2 bg-dark" ng-hide="fullScreen">
        <div class="container-fluid d-flex">
            <div>
                <a class="navbar-brand text-white" href="#">
                    <img src="./assets/images/quizAppLogo.png" alt="Logo" width="30" height="30"
                        class="d-inline-block align-text-top">
                    QuizApp
                </a>
            </div>
            <div>
                <li class="nav-item dropdown text-white list-unstyled px-2" id="showProfile">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">{{username}}</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li ng-hide="inBoard">
                            <a class="dropdown-item" href="#" ng-click="getLeaderboard()">
                                <i class="bi bi-bar-chart-line-fill text-primary" ></i> Leaderboard
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" ng-click="removeCredentials()">
                                <i class="bi bi-box-arrow-right text-primary"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
    <div class="main-container" ng-show="home"></div>
    <div class="quiz-container" ng-show="quiz"></div>
    <div class="final-score-container" ng-show="finalScore"></div>
    <div class="leader-container" ng-hide="!leaderBoard"></div>

</div>
