<div class="bg-dark m-4 p-4 text-white rounded-4 shadow-effect">
    <div class="bg-body-tertiary p-2 text-black rounded-2">
        <div class="d-flex align-items-center justify-content-center mb-2">
            <img class="me-1" src="./assets/images/quizAppLogo.png" alt="" width="40" height="40">
            <h3 class="text-primary"> QuizApp</h3>
        </div>
        <h6 class="text-center">Elevate Your Learning with Interactive Quizzes!</h6>
        <hr>
        <h5 class="text-center text-primary">⭐⭐⭐Play & Win Rewards⭐⭐⭐</h5>
        <hr>
        <div class="row p-2 mb-3 d-flex justify-content-center">
            <div class="col-4 col-md-1 p-0">
                <img src="./assets/images/reward1.jpg" width="100" height="100" alt="reward1">
            </div>
            <div class="col-4 col-md-1 p-0">
                <img src="./assets/images/reward2.jpg" width="100" height="100" alt="reward2">
            </div>
            <div class="col-4 col-md-1 p-0">
                <img src="./assets/images/reward3.jpg" width="100" height="100" alt="reward3">
            </div>
        </div>
        <div class="bg-dark col-md-4 m-auto rounded-3 p-2">
            <div class="d-flex justify-content-center">
                <img src="./assets/images/lets-start.gif" alt="animating_Start_Game_Gif" style="width: 90%;">
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary col-6 col-md-4 my-2" ng-click="getQuizzes()">Start Quiz</button>
            </div>
        </div>
    </div>
</div>