<div>
    <bro-header></bro-header>
    <div class="budgetReleaseContainers d-flex ">
        <sidebar></sidebar>
        <div class="contentCard bg-secondary bg-opacity-25 p-2">
            <div class="bg-white rounded contentCard-2 p-2">
                <div class="welcomeCard bg-secondary bg-opacity-25 d-flex justify-content-center align-items-center">
                    <div class="cardContent d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-wallet" style="font-size:55px;color:navy;"></i>
                        <h1 class="m-0 broHeading fw-bolder mb-2">Welcome to the Budget Release Order section</h1>
                        <p class="m-0 broPara fw-medium">In this section you can find functionalities such as initiate
                            BRO,Additional
                            funds,Reappropriation And Resumption etc... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-light budgetFooter">
    </div>
</div>