<div class="homePage">
    <home-header></home-header>
    <div class="homePageMainContainer d-flex justify-content-between">
        <div class="budgetReleaseContainer ps-5 pt-5 d-flex">
            <div class="budgetReleaseOrderContainer d-flex align-items-center justify-content-center me-3"
                ui-sref="budgetRelease">
                <div class="content text-light d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                    <p class="m-0">BUDGET<br /> RELEASE<br /> ORDER</p>
                </div>
            </div>
            <div class="budgetReleaseOrderContainer d-flex align-items-center justify-content-center">
                <div class="content text-light d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-id-card"></i>
                    <p class="m-0">VECHILE<br /> REQUEST</p>
                </div>
            </div>
        </div>
        <div class="notificationContainer bg-white">
            <div class="header bg-warning bg-opacity-75 p-3">
                <h5 class="m-0 text-light fw-medium">Notifications</h5>
            </div>
            <div class="bg-white p-2">
                <p class="m-0 notiPara">The following deposit accounts which are previously exempted in IFMIS portal
                    shall be in
                    the active state and to be used in IFMIS portal only from 18/11/2019.<a href="#">Click here</a> to
                    check
                    those deposit accounts</p>
            </div>
        </div>
    </div>
    <div class="homePageFooter d-flex align-items-center">
        <div class="blockchainContainer text-light d-flex align-items-center rounded me-3 ps-3">
            <iconify-icon icon="eos-icons:blockchain" width="30" height="30"></iconify-icon>
            <p class="m-0 ms-2">BLOCKCHAIN</p>
        </div>
        <div class="blockchainContainer text-light d-flex align-items-center rounded ps-3">
            <iconify-icon icon="simple-icons:hyperledger" width="30" height="30"></iconify-icon>
            <p class="m-0 ms-2">HYPERLEDGER</p>
        </div>
    </div>
</div>