<div class="budgetReleaseSidebar">
    <ul class="sideBar text-light p-0 d-flex flex-column justify-content-center align-items-center">
        <li class="sideBarList m-0 pe-2 ps-5 pb-2 pt-2 fw-medium" ui-sref="budgetRelease"><i
                class="fa-solid fa-house m-0 p-0"></i>
            Home
        </li>
        <li class="pe-2 ps-5 pt-2 pb-2" ui-sref="Add HOA" ui-sref-active="activated">Add Hoa</li>
        <li class="pe-2 ps-5 pt-2 pb-2">BRO</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Additional Funds</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Reappropriation/Resumption</li>
        <li class="pe-2 ps-5 pt-2 pb-2" ui-sref="HOAList">HOA List</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Contingency</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Users Mapping</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Section Users Mapping</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Export Report</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Section List</li>
        <li class="pe-2 ps-5 pt-2 pb-2">Section HOD's</li>
        <li class="pe-2 ps-5 pt-2 pb-2">BRO Logs</li>
        <li class="pe-2 ps-5 pt-2 pb-2">User Permissions
        </li>
        <li class="pe-2 ps-5 pt-2 pb-2">HOD's Non Listing</li>
        <li class="pe-2 ps-5 pt-2 pb-2">BRO Clr Memo Submission List</li>
    </ul>
</div>