<header class="d-flex gap-4 align-items-center ps-5">
    <div class="d-flex p-2 col-7 align-items-center">
        <div>
            <a ui-sref="home"><img src="./images/header/logo.png" alt="logo" width="103px" /></a>
        </div>
        <div class="input-group search-container ms-3" style="border-radius: 7px;padding: 2px;">
            <input type="text" placeholder="Search for Products" ng-model="searchName" class="form-control"
                placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <span class="btn" type="button" ng-click="searchProduct()"><i class="bi bi-search"></i></span>
        </div>
    </div>
    <div class="col-5 d-flex justify-content-center">
        <div class="d-flex align-items-center gap-4">
            <div>
                <a ui-sref="admin" ng-show="adminPortalVisible" class="text-black text-decoration-none">
                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/Store-9eeae2.svg"
                        alt="Become a Seller">
                    <span>Admin Portal</span>
                </a>
            </div>
            <div>
                <div class="dropdown">
                    <button type="button" ng-show="!loginStatus" class="dropbtn btn">
                        <a ui-sref="login" class="text-black signIn">
                            <i class="bi bi-person" height="24" width="24"></i>
                            Sign in<span> <i class="bi bi-chevron-down"
                                    style="font-size: 12px;font-weight: bold !important;"></i></span>
                        </a>
                    </button>
                    <button ng-show="loginStatus" ng-click="logout()" type="button" class="dropbtn btn">
                        <a class="text-black signIn">
                            <i class="bi bi-person" height="24" width="24"></i>
                            Sign Out<span> <i class="bi bi-chevron-down"
                                    style="font-size: 12px;font-weight: bold !important;"></i></span>
                        </a>
                    </button>
                    <div class="dropdown-content rounded">
                        <ul class="list-unstyled">
                            <li ng-show="!loginStatus"><a href="#" ui-sref="register" class="border">New Customer ?<span
                                        class="ms-3 fw-bold text-primary">Sign up</span></a></li>
                            <li>
                                <a>
                                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-815786.svg"
                                        alt="My Profile" width="24" height="24">
                                    <span class="ms-2">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkplus-4ff29a.svg"
                                        alt="Flipkart Plus Zone" width="24" height="24">
                                    <span class="ms-2">Flipkart Plus Zone</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="orders">
                                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/orders-bfe8c4.svg"
                                        alt="Orders" width="24" height="24">
                                    <span class="ms-2">Orders</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div style="cursor: pointer;">
                    <a ui-sref="cart" title="Cart"  class="text-decoration-none">
                        <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"
                            alt="Cart" width="24" height="24">
                        <span class="text-decoration-none text-black">Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>