<div class="row m-0">
  <div class="col-12 p-0">
    <app-header></app-header>
  </div>
  <div class="col-12 p-0">
    <div class="row m-0">
      <div class="col-2 p-0">
        <bro-sidebar></bro-sidebar>
      </div>
      <div class="col-10 p-0 bg-secondary bg-opacity-10 broHomeBg p-3">
        <div class="d-flex flex-column bg-white px-5 pt-3">
          <div class="d-flex justify-content-between">
            <p class="fw-semibold text-black">Add New Head of Account</p>
            <button class="broAddViewListBtn text-white border-0 rounded-1" ui-sref="HOA List">
              View List
            </button>
          </div>
          <div class="col-8 d-flex flex-column gap-2">
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Name of HOD:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                  ng-model="headOfAccount"
                  ng-change="validateDropDown('headOfAccount','headOfAccountErrMsg')"
                  ng-class="{'is-invalid':headOfAccountErrMsg}"
                >
                  <option selected value="">Select an Option</option>
                  <option
                    ng-repeat="(x,y) in headOfAccountList"
                    value="{{y.id}}"
                  >
                    {{y.name | uppercase}}
                  </option>
                </select>
                <p class="text-danger m-0" ng-show="headOfAccountErrMsg">
                  *{{headOfAccountErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Budget Year:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                  ng-model="budgetYear"
                  ng-class="{'is-invalid':budgetYearErrMsg}"
                  ng-change="validateDropDown('budgetYear','budgetYearErrMsg')"
                >
                  <option selected value="">Select an Option</option>
                  <option ng-repeat="(x,y) in budgetYearList" value="{{y.id}}">
                    {{y.year}}
                  </option>
                </select>
                <p class="text-danger m-0" ng-show="budgetYearErrMsg">
                  *{{budgetYearErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Establishment/Scheme:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                  ng-model="establishment"
                  ng-class="{'is-invalid':establishmentErrMsg}"
                  ng-change="validateDropDown('establishment','establishmentErrMsg')"
                >
                  <option selected value="">Select an Option</option>
                  <option
                    ng-repeat="(x,y) in establishmentList"
                    value="{{y.id}}"
                  >
                    {{y.name}}
                  </option>
                </select>
                <p class="text-danger m-0" ng-show="establishmentErrMsg">
                  *{{establishmentErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">Major Head:<span class="text-danger">*</span></p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xxxx"
                  maxlength="4"
                  ng-class="{'is-invalid':majorHeadNumErrMsg}"
                  ng-change="validateNum('majorHeadNum','majorHeadNumErrMsg','Major head',4)"
                  ng-model="majorHeadNum"
                />
                <p class="text-danger m-0" ng-show="majorHeadNumErrMsg">
                  *{{majorHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  maxlength="500"
                  ng-class="{'is-invalid':majorHeadDescErrMsg}"
                  ng-model="majorHeadDesc"
                  ng-change="validateDesc('majorHeadDesc','majorHeadDescErrMsg','Major head description')"
                />
                <p class="text-danger m-0" ng-show="majorHeadDescErrMsg">
                  {{majorHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Sub-Major Head:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xx"
                  maxlength="2"
                  ng-model="subMajorHeadNum"
                  ng-class="{'is-invalid':subMajorHeadNumErrMsg}"
                  ng-change="validateNum('subMajorHeadNum','subMajorHeadNumErrMsg','Sub major head',2)"
                />
                <p class="m-0 text-danger" ng-show="subMajorHeadNumErrMsg">
                  {{subMajorHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="subMajorHeadDesc"
                  ng-class="{'is-invalid':subMajorHeadDescErrMsg}"
                  ng-change="validateDesc('subMajorHeadDesc','subMajorHeadDescErrMsg', 'Sub major head description')"
                />
                <p class="m-0 text-danger" ng-show="subMajorHeadDescErrMsg">
                  {{subMajorHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">Minor Head:<span class="text-danger">*</span></p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  maxlength="3"
                  class="form-control"
                  placeholder="xxx"
                  ng-model="minorHeadNum"
                  ng-class="{'is-invalid':minorHeadNumErrMsg}"
                  ng-change="validateNum('minorHeadNum','minorHeadNumErrMsg','Minor head',3)"
                />
                <p class="m-0 text-danger" ng-show="minorHeadNumErrMsg">
                  *{{minorHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="minorHeadDesc"
                  ng-class="{'is-invalid':minorHeadDescErrMsg}"
                  ng-change="validateDesc('minorHeadDesc','minorHeadDescErrMsg', 'Minor head description')"
                />
                <p class="m-0 text-danger" ng-show="minorHeadDescErrMsg">
                  *{{minorHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Group Sub Head:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  maxlength="2"
                  placeholder="xx"
                  ng-model="groupSubHeadNum"
                  ng-class="{'is-invalid':groupSubHeadNumErrMsg}"
                  ng-change="validateNum('groupSubHeadNum','groupSubHeadNumErrMsg','Group sub head',2)"
                />
                <p class="m-0 text-danger" ng-show="groupSubHeadNumErrMsg">
                  *{{groupSubHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="groupSubHeadDesc"
                  ng-class="{'is-invalid':groupSubHeadDescErrMsg}"
                  ng-change="validateDesc('groupSubHeadDesc','groupSubHeadDescErrMsg', 'Group sub head description')"
                />
                <p class="m-0 text-danger" ng-show="groupSubHeadDescErrMsg">
                  *{{groupSubHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">Sub Head:<span class="text-danger">*</span></p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xx"
                  maxlength="2"
                  ng-model="subHeadNum"
                  ng-class="{'is-invalid':subHeadNumErrMsg}"
                  ng-change="validateNum('subHeadNum','subHeadNumErrMsg','Sub head',2)"
                />
                <p class="m-0 text-danger" ng-show="subHeadNumErrMsg">
                  *{{subHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="subHeadDesc"
                  ng-class="{'is-invalid':subHeadDescErrMsg}"
                  ng-change="validateDesc('subHeadDesc','subHeadDescErrMsg', 'Sub head description')"
                />
                <p class="m-0 text-danger" ng-show="subHeadDescErrMsg">
                  *{{subHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Detailed Head:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xxx"
                  maxlength="3"
                  ng-model="detailedHeadNum"
                  ng-class="{'is-invalid':detailedHeadNumErrMsg}"
                  ng-change="validateNum('detailedHeadNum','detailedHeadNumErrMsg','Detailed head',3)"
                />
                <p class="m-0 text-danger" ng-show="detailedHeadNumErrMsg">
                  *{{detailedHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="detailedHeadDesc"
                  ng-class="{'is-invalid':detailedHeadDescErrMsg}"
                  ng-change="validateDesc('detailedHeadDesc','detailedHeadDescErrMsg', 'Detailed head description')"
                />
                <p class="m-0 text-danger" ng-show="detailedHeadDescErrMsg">
                  *{{detailedHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Sub Detailed Head:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xxx"
                  maxlength="3"
                  ng-model="subDetailedHeadNum"
                  ng-class="{'is-invalid':subDetailedHeadNumErrMsg}"
                  ng-change="validateNum('subDetailedHeadNum','subDetailedHeadNumErrMsg','Sub detailed head',3)"
                />
                <p class="m-0 text-danger" ng-show="subDetailedHeadNumErrMsg">
                  *{{subDetailedHeadNumErrMsg}}
                </p>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Description"
                  ng-model="subDetailedHeadDesc"
                  ng-class="{'is-invalid':subDetailedHeadDescErrMsg}"
                  ng-change="validateDesc('subDetailedHeadDesc','subDetailedHeadDescErrMsg', 'Sub detailed head description')"
                />
                <p class="m-0 text-danger" ng-show="subDetailedHeadDescErrMsg">
                  *{{subDetailedHeadDescErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Charged/Voted:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                  ng-model="charged"
                  ng-class="{'is-invalid':chargedErrMsg}"
                  ng-change="validateDropDown('charged','chargedErrMsg')"
                >
                  <option selected value="">Select an Option</option>
                  <option ng-repeat="(x,y) in chargedList" value="{{y.id}}">
                    {{y.name}}
                  </option>
                </select>
                <p class="m-0 text-danger" ng-show="chargedErrMsg">
                  {{chargedErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-4">
                <p class="m-0">
                  Estimated Amount:<span class="text-danger">*</span>
                </p>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  ng-model="estAmount"
                  ng-class="{'is-invalid':estAmountErrMsg}"
                  ng-change="estAmountValidation()"
                  class="bg-warning bg-opacity-10 form-control"
                />
                <p class="m-0">{{estAmount | numbersToWord}}</p>
                <p class="m-0 text-danger" ng-show="estAmountErrMsg">
                  {{estAmountErrMsg}}
                </p>
              </div>
            </div>
            <div class="row m-0 align-items-center justify-content-end mb-3">
              <div class="col-2">
                <button
                  class="addHoadClearBtn border-0 px-2 text-white fw-semibold"
                  ng-click="clearDataBtn()"
                >
                  Clear Filled Data
                </button>
              </div>
              <div class="col-2">
                <button
                  class="addHoadSubmitBtn text-white border-0 px-2 fw-semibold"
                  ng-click="submitBtn()"
                >
                  Submit HOA
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
