<div class="row m-0">
  <div class="col-12 p-0">
    <app-header></app-header>
  </div>
  <div class="col-12 p-0">
    <div class="row m-0">
      <div class="col-2 p-0">
        <bro-sidebar></bro-sidebar>
      </div>
      <div class="col-10 p-0 bg-secondary bg-opacity-10 broHomeBg p-3">
        <div class="d-flex flex-column bg-white h-100 px-5 pt-3">
          <div class="d-flex justify-content-between">
            <p class="fw-semibold text-black">Add New Head of Account</p>
            <button class="broAddViewListBtn text-white border-0 rounded-1">
              View List
            </button>
          </div>
          <div class="col-8 d-flex flex-column gap-2">
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">Name of HOD:<span class="text-danger">*</span></p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">Budget Year:<span class="text-danger">*</span></p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">Establishment/Scheme:<span class="text-danger">*</span></p>
              </div>
              <div class="col-8">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Major Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="xxx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Sub-Major Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="xx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Minor Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder ="xxx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder ="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Group Sub Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder ="xx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder ="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Sub Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder ="xx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder ="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Detailed Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder ="xxx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder ="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Sub Detailed Head:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder ="xx" />
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder ="Description" />
              </div>
            </div>
            <div class="row m-0 align-items-center">
              <div class="col-4">
                <p class="m-0">
                  Charged/Voted:<span class="text-danger ">*</span>
                </p>
              </div>
              <div class="col-6">
                <select
                  class="form-select form-select-sm"
                  aria-label="Small select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>  
            </div>
            <div class="row m-0 align-items-center justify-content-end ">
              <div class="col-3">
                <button class="addHoadClearBtn border-0 px-2 text-white fw-semibold">Clear Filled Data</button>
              </div>
              <div class="col-3">
                <button class="addHoadSubmitBtn text-white border-0 px-2 fw-semibold">Submit HOA</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
