<div class="row m-0">
  <div class="col-12 p-0">
    <app-header></app-header>
  </div>
  <div class="col-12 p-0">
    <div class="row m-0">
      <div class="col-2 p-0">
        <bro-sidebar></bro-sidebar>
      </div>
      <div class="col-10 p-0 bg-secondary bg-opacity-10 broHomeBg">
        <div class="h-100">
          <div
            class="d-flex flex-column justify-content-center align-items-center border border-5 border-white broHomeTop"
          >
            <iconify-icon
              icon="clarity:wallet-solid"
              class="fs-1"
            ></iconify-icon>
            <h3 class="fw-bold">Welcome to the Budget Release Order section</h3>
            <p>
              In this you can find functionalities such as Initiate BRO,
              Additional Funds, Reappropriation And Resumption etc..
            </p>
          </div>
          <div class="broHomeFooter"></div>
        </div>
      </div>
    </div>
  </div>
</div>
