<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <app-header></app-header>
    </div>
    <div class="col-12 p-0">
      <div class="row homeBg m-0">
        <div
          class="homeLeftCard col-12 col-md-9 d-flex gap-3 pt-5 ps-5 flex-wrap"
        >
          <div
            class="bg-dark rounded-circle homeRoundedBg d-flex justify-content-center align-items-center"
            ui-sref="broHome"
          >
            <div
              class="rounded-circle text-white d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-indian-rupee-sign"></i>
              <p class="m-0 fw-semibold text-center w-50">
                BUDGET RELEASE ORDER
              </p>
            </div>
          </div>
          <div
            class="bg-dark rounded-circle homeRoundedBg d-flex justify-content-center align-items-center"
          >
            <div
              class="rounded-circle text-white d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-credit-card"></i>
              <p class="m-0 fw-semibold text-center w-50">VEHICLES REQUEST</p>
            </div>
          </div>
        </div>
        <div class="homeRightCard col-12 col-md-3 p-0">
          <div class="homeNotifyCard">
            <div
              class="homeNotifyTitle text-white d-flex align-items-center ps-3"
            >
              <p class="m-0 fw-semibold">Notifications</p>
            </div>
            <div
              class="homeNotifyContent fw-semibold d-flex flex-column justify-content-center p-3"
            >
              <p class="m-0">
                The following deposit accounts which are previously exempted in
                IFMIS portal shall be in the active sate and to be used in IFMIS
                portal only from 18/11/2019.<a href="#">click here</a> to check
                these deposit accounts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="homeFooterBg col-12 p-0">
      <div class="row m-0 h-100">
        <div class="col-4 h-100 p-0">
          <div
            class="row m-0 h-100 gap-2 align-items-center justify-content-end"
          >
            <div
              class="footerTab text-white d-flex align-items-center h-75 col-4 rounded-1 gap-2"
            >
              <iconify-icon
                icon="eos-icons:blockchain"
                class="fs-3"
              ></iconify-icon>
              <p class="m-0 fw-bold">BLOCKCHAIN</p>
            </div>
            <div
              class="footerTab text-white d-flex align-items-center h-75 col-4 rounded-1 gap-2"
            >
              <iconify-icon
                icon="simple-icons:hyperledger"
                class="fs-2"
              ></iconify-icon>
              <p class="m-0 fw-bold">HYPERLEDGER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
