<div ng-controller="LoginHeaderCtrl">
  <div class="loginHeader col-12">
    <div
      class="col-sm-12 col-lg-9 col-xl-9 m-auto d-flex align-items-center h-100 ms-3 ms-lg-auto"
    >
      <img
        src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/ifmis-logo.png"
      />
    </div>
  </div>
  <div class="navBannerContainer col-12 border border-0 m-0">
    <!-- small devices  -->
    <nav class="navbar d-md-none h-100 m-0">
      <div class="container-fluid p-0">
        <button
          class="navbar-toggler loginHamBtn ms-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars text-white"></i>
        </button>
      </div>
    </nav>
    <div
      class="collapse d-md-none"
      id="navbarToggleExternalContent"
      data-bs-theme="dark"
    >
      <div class="navSmDeviceBg p-1">
        <hr class="border border-1 border-secondary" />
        <ul
          class="m-0 p-0 d-flex flex-column gap-3 h-100 text-white navListItems"
          type="none"
        >
          <li>HOME</li>
          <li>PAYSLIP</li>
          <li>UTR REPORT</li>
          <li>BUDGET VOLUMES</li>
          <li
            ng-mouseover="challanListMouseEnter()"
            ng-mouseLeave="challanListMouseLeave()"
          >
            <div>
              <div class="d-flex align-items-center">
                CHALLANS
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/menu-arrow.png"
                  class="ms-2"
                />
              </div>
              <ul class="navDropDownList" ng-show="showChallansList">
                <li>CHALLAN FORM</li>
                <li>CHALLAN FORM FOR E-SEVA(TRANSPORT)</li>
                <li>CHALLAN FORM TSTSL</li>
                <li>CHALLAN SERVICE REGISTRATION</li>
                <li>MANUAL CHALLAN SEARCH</li>
              </ul>
            </div>
          </li>
          <li
            ng-mouseover="cyberListMouseEnter()"
            ng-mouseLeave="cyberListMouseLeave()"
          >
            <div>
              <div class="d-flex align-items-center">
                CYBER TREASURY<img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/menu-arrow.png"
                  class="ms-2"
                />
              </div>
              <ul class="navDropDownList" ng-show="showCyberList">
                <li>CYBER CHALLAN DETAILS</li>
                <li>MINES AND GEOLOGY CHALLANS</li>
              </ul>
            </div>
          </li>
          <li>GPF LEDGER</li>
        </ul>
      </div>
    </div>
    <!--large devices  -->
    <ul
      class="p-0 col-sm-12 col-lg-9 col-xl-9 m-auto d-flex h-100 text-white align-items-center d-none d-md-flex ms-3 ms-lg-auto navListItems flex-wrap flex-lg-nowrap"
      type="none"
    >
      <li>HOME</li>
      <li>PAYSLIP</li>
      <li>UTR REPORT</li>
      <li>BUDGET VOLUMES</li>
      <li
        ng-mouseover="challanListMouseEnter()"
        ng-mouseLeave="challanListMouseLeave()"
      >
        <div>
          <div class="d-flex align-items-center">
            CHALLANS
            <img
              src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/menu-arrow.png"
              class="ms-2"
            />
          </div>
          <ul class="navDropDownList" ng-show="showChallansList">
            <li>CHALLAN FORM</li>
            <li>CHALLAN FORM FOR E-SEVA(TRANSPORT)</li>
            <li>CHALLAN FORM TSTSL</li>
            <li>CHALLAN SERVICE REGISTRATION</li>
            <li>MANUAL CHALLAN SEARCH</li>
          </ul>
        </div>
      </li>
      <li
        ng-mouseover="cyberListMouseEnter()"
        ng-mouseLeave="cyberListMouseLeave()"
      >
        <div>
          <div class="d-flex align-items-center">
            CYBER TREASURY<img
              src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/menu-arrow.png"
              class="ms-2"
            />
          </div>
          <ul class="navDropDownList" ng-show="showCyberList">
            <li>CYBER CHALLAN DETAILS</li>
            <li>MINES AND GEOLOGY CHALLANS</li>
          </ul>
        </div>
      </li>
      <li>GPF LEDGER</li>
    </ul>
  </div>
</div>
