<div class="container-fluid p-0">
  <div class="row m-0">
    <login-header class="col-12 p-0"></login-header>
    <div class="loginBodyCard col-12 p-0 pb-3">
      <div class="row m-0 justify-content-center">
        <div class="loginLeftCard col-12 col-lg-3 p-0">
          <div class="userLoginCard bg-white d-flex flex-column gap-3 p-4">
            <h5 class="m-0">User Login</h5>
            <div>
              <div
                class="d-flex loginInputCard align-items-center rounded-1 gap-2 ps-2"
              >
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/user.png"
                />
                <input
                  type="text"
                  class="border border-0 bg-transparent"
                  ng-model="email"
                  ng-change="emailValidation()"
                  ng-class="{'is-invalid':emailErrMsg}"
                  placeholder="Email"
                />
              </div>
              <p class="m-0 text-danger" ng-show="emailErrMsg">
                *{{emailErrMsg}}
              </p>
            </div>
            <div>
              <div
                class="d-flex loginInputCard align-items-center rounded-1 gap-2 ps-2"
              >
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/pwd.png"
                />
                <input
                  type="password"
                  class="border border-0 bg-transparent"
                  ng-model="password"
                  ng-change="passwordValidation()"
                  ng-class="{'is-invalid':passwordErrMsg}"
                  placeholder="Password"
                />
              </div>
              <p class="m-0 text-danger" ng-show="passwordErrMsg">
                *{{passwordErrMsg}}
              </p>
            </div>

            <div class="captchCard d-flex flex-column gap-3">
              <div
                class="loginInputCard captchaCard d-flex rounded-1 align-items-center"
              >
                <img
                  src="https://www.pandasecurity.com/en/mediacenter/src/uploads/2014/09/avoid-captcha.jpg"
                  width="90%"
                  height="100%"
                />
                <i class="fa-solid fa-arrow-rotate-right m-auto"></i>
              </div>
              <input type="text" class="form-control" />
            </div>
            <div
              class="ForgotSignInCard d-flex justify-content-between align-items-center"
            >
              <h6 class="m-0">Forgot Password ?</h6>
              <button
                class="text-white rounded-1 fw-semibold"
                ng-click="signInBtn()"
              >
                SIGN IN
              </button>
            </div>
          </div>
          <div class="impNotifyCard p-3">
            <p class="fw-semibold m-0">
              Important Notification to all PAO Branches!
            </p>
            <p class="infoBlinker fw-semibold m-0">
              All cheque numbers will now be same as token numbers in PAO.
            </p>
          </div>
        </div>
        <div class="loginRightCard col-12 col-lg-6 p-3">
          <div class="carouselCard">
            <div id="carouselExample" class="carousel slide h-100">
              <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                  <img
                    src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/banners/29.jpg"
                    class="d-block w-100"
                    alt="carouselImg"
                  />
                  <p class="text-white mt-2 ps-4">
                    Telangana Secretariat - Dr. B.R. Ambedkar Telangana
                    Secretariat
                  </p>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="loginBottomCard col-12 col-lg-9 m-auto">
          <div class="row m-0 gap-5 gap-lg-0 pt-5 pb-4">
            <div class="col-12 col-lg-4 blogCard ps-4">
              <div class="blogTittle">
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/news_icon.png"
                  class="ps-4"
                />
                <p class="fs-3 text-black">Latest News/Note</p>
              </div>
              <div class="blogContent">
                All the HODs and DDO are hereby informed that the remuneration
                pertains to Contract/Honorarium based services will be paid
                through IFMIS-DBT mode only from the month of November, 2022.
                All the departments hereby are requested to strictly adhered to
                update the information of the persons engaged on
                contract/honorarium basis in 27 column proforma in Finance
                (HRM.VII) Department with relevant information immediately.
                Updating of bills in regular pattern will not be entertained
                further. New Districts & Mandals Details -03-09-2021 Circular
                Memo for PRC 2020: Pay Fixation Circular Memo__Dt.17.6.2021
                Following are the GOs for PRC 2020: GO Ms
                NO.51_Dt.11.06.2021_PRC Main GO GO Ms No.52__Dt.11.06.2021__DA
                GO Ms No.53__Dt.11.06.2021__HRA GO Ms No.54__Dt.11.06.2021__CCA
                G.O.Ms.No.55_dt.11.06.2021 - Consolidation of Pension
                G.O.Ms.No.56_dt.11.06.2021 Enhancement Retirement Gratuity
                G.O.Ms.No.57_dt.11.06.2021_ Additional Quantum of Pension
                G.O.Ms.No.58_dt.11.06.2021_Family pension to CPS Employees
                G.O.Ms.No.59_dt.11.06.2021_Medical Allowances GO Ms
                No.60_Dt.11.06.2021__Con__Os __Enhancement DWA DDOs Full
                Tutorial Link
                <br />
                https://youtu.be/ker7MRrl3og<br />
                DWA PAOs Full Tutorial Link <br />
                https://youtu.be/vi1SYgZybno<br />
                Generate DDO Code Link <br />
                https://youtu.be/iqaLS9xg5Mc<br />
                Generate Employee Code Link <br />
                https://youtu.be/sseREP7fd88<br />
                All DDs, DTOs and STOs are instructed not to process
                cheques/bills related to repayment of covid 19 deferred payment
                upto 21st of this month or until further orders. The necessary
                software will be launched by 15th, strict compliance is
                required. As per GO 34 the bill is not released yet we will
                update once it is released for all the DDOs so that Nil Bill Can
                be submitted against the deductions for March Pay bill
              </div>
            </div>
            <div
              class="col-12 col-lg-4 blogCard ps-4 border-start border-1 border-secondary border-opacity-50"
            >
              <div class="blogTittle">
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/video_icon.png"
                  alt=""
                  class="ps-3"
                />
                <p class="m-0 fs-3">View Demo</p>
              </div>
              <div class="blogContent mt-3">
                <p class="m-0 fw-semibold">Demo :</p>
                <p>
                  Watch the demo to know more about how to different products
                  and services on IFMIS
                </p>
                <div class="d-flex flex-column gap-3">
                  <div
                    class="d-flex flex-column flex-lg-row align-items-md-start"
                  >
                    <img
                      src="https://i.vimeocdn.com/video/1232730060-5c11940b8e755fd0ba8e0d68e6e1f7b3b90592e8148fcdb200dd41564b75c863-d_640x360"
                      width="90px"
                      height="50px"
                      class="mt-lg-2"
                    />
                    <div class="m-0 w-100 ms-lg-2">
                      <p class="m-0 fw-bold">
                        How to Submit Salary Bill - IFMIS/DDO Tutorial
                      </p>
                      <div
                        class="d-flex justify-content-between w-100 blogVideoInfo"
                      >
                        <p class="m-0">Bill Submission</p>
                        <p class="m-0">20 Dec 2021</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex flex-column flex-lg-row align-items-md-start"
                  >
                    <img
                      src="https://i.vimeocdn.com/video/1558900843-82d0acf3dffbb3d54bd03b4e980d21674102cc3006a3f151eea0f5dcad6b31ac-d_640x360"
                      width="90px"
                      height="50px"
                      class="mt-lg-2"
                    />
                    <div class="m-0 w-100 ms-lg-2">
                      <p class="m-0 fw-bold">
                        How to Create Work ID- IFMIS/DWA Tutorial
                      </p>
                      <div
                        class="d-flex justify-content-between w-100 blogVideoInfo"
                      >
                        <p class="m-0">Bill Submission</p>
                        <p class="m-0">20 Dec 2021</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#">View More</a>
              </div>
            </div>
            <div
              class="col-12 col-lg-4 blogCard ps-4 border-start border-1 border-secondary border-opacity-50"
            >
              <div class="blogTittle">
                <img
                  src="https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/vison_icon.png"
                  alt=""
                  class="ps-3"
                />
                <p class="m-0 fs-3">Our Vision</p>
              </div>
              <div class="blogContent">
                <p>
                  We have developed IFMIS with the vision that Financial
                  Technology shall be able to function using cutting-edge
                  technology that ensures data security, efficiency and
                  transparency.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loginPageFooter">
      <div class="row m-0 h-100">
        <div class="col-4 col-lg-3 ms-auto h-100">
          <div class="d-flex align-items-center h-100 gap-2">
            <p class="m-0">Privacy</p>
            <p class="m-0">Policy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
