<div id="wrapper">

    
    <header-directive></header-directive>

   <!-- {{spin}} -->
 

    <div id="content-wrapper flex-grow-1">
      <div class="inside-content-wrapper m-2">
        <div class="d-flex flex-column p-2">
          <h5 class="add-work-heading">Add Work/Award id</h5>
          <hr class="hr-line" />

          <div class="col-12 col-md-12 m-0 p-2 form-container" style="width: 99%">
            <form ng-controller="validationController" id="myForm" class="myForm col-12" name="myForm" >
             

              <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap work-id mb-2">
                <div ng-repeat="each in arrlist">
                  <input type="radio" name="workId" value="{{each.id}}" />
                  <label class="ms-1 me-3">{{each.text}}</label>
                </div>
              </div>
              <div class="col-12 col-md-6 d-flex flex-column">
                <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                  <label for="wokType" class="form-label col-md-5">Work Type<span
                        class="text-danger">*</span></label>
                  <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                    <div ng-repeat="each in workerType">
                      <input type="radio" name="workType" value="{{each.id}}" />
                      <label class="ms-1 me-3">{{each.text}}</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-12 col-md-6 d-flex flex-column">
                <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                  <label for="hoaNumber" class="form-label col-md-5">HOA<span class="text-danger">*</span><span
                      style="font-size: 12px;"> (Enter HOA to get GO and TS details)</span></label>


                  <div class="col-9 col-md-5 d-flex gap-2">
                    <input id="hoaNumber" type="text" placeholder="Enter HOA No" class="form-control col-md-7"
                      ng-model="hoaNumber" ng-change="validateHoaNumber()" />
                    <div class="d-flex align-items-center justify-content-center mb-1">
                      <button class="btn btn-primary" ng-click="searchHoaCode()">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
                <p class="error-message">
                    {{hoaNumberError}}</p>
              </div>
              <div class="d-flex justify-content-center">
                <div ng-hide="{{'spin'}}">
                <div class="spinner-border" role="status"  >
                  
                </div>
              </div>
              </div>
              <div class="admin-section mt-4">
                <h6>Administration Sanction</h6>

                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="goNumber" class="form-label col-md-5">Administrative Sanctioned G.O. Number<span
                        class="text-danger">*</span></label>

                     
                    <select id="goNumber" class="form-select col-md-7" aria-label="Default select example"
                      ng-model="goNumber" ng-change="onChangeGoNumber(headAccountOptions[goNumber-1])">
                      
                      <option value="">Select</option>
                    
                      <option ng-repeat="option in headAccountOptions track by $index" value="{{option.id}}">{{option.as_number}}
                      </option>

                    </select>

                    
                    
                  </div>
                </div>
                <div class="col-12 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="goNumber" class="form-label col-md-2">Original A.S.<span
                        class="text-danger">*</span></label>
                      <div class="table-responsive col-9 mr-5 d-flex justify-content-center mt-3">
                    <!-- <table class="table table-striped col-12 ">
                      <thead class="table-info">
                        <tr>
                          <th scope="col-1">#</th>
                          <th scope="col-2">A.S. Number</th>
                          <th scope="col-4">Date</th>
                          <th scope="col-3">Amount</th>
                          <th scope="col-2">Authority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ values.id }}</td>
                          <td>{{ values.as_number }}</td>
                          <td>{{ values.date }}</td>
                          <td>{{ values.amount }}</td>
                          <td>{{ values.authority }}</td>
                        </tr>
                      </tbody>
                    </table> -->
                    <table class="table table-dark" >
                      <tr>
                        <th scope="col">Id</th>	
                         <td><input type="text" class="form-control form-control-lg" data-ng-model="st.id" disabled></td>
                       </tr>
                       <tr>
                         <th scope="col">Name</th>
                         <td><input type="text" class="form-control form-control-lg" data-ng-model="st.name" ></td>
                       </tr>
                       <tr>
                         <th scope="col">Section</th>
                         <td><input type="text" class="form-control form-control-lg" data-ng-model="st.section" ></td>
                       </tr>
                       <tr>
                         <th scope="col">Address</th>
                         <td><input type="text" class="form-control form-control-lg" data-ng-model="st.address" ></td>
                       </tr>
                       <tr>
                         <th scope="col">City</th>
                         <td><input type="text" class="form-control form-control-lg" data-ng-model="st.city" ></td>
                     </tr>
                    </table>
                    
                  </div>
                  </div>
                </div>

              </div>

              <div class="col-12 mt-2">
                <h6>Agreement Details</h6>
                <div class="col-12 col-md-6 d-flex flex-column">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="agreementNumber" class="form-label col-md-5">Agreement Number<span
                        class="text-danger">*</span></label>
                    <input id="agreementNumber" name="agreementNumber" type="text" placeholder="Enter Agreement Number"
                      class="form-control col-md-7" ng-model="agreementNumber" ng-change="validateAgreementNumber()" />

                  </div>
                  <p id="agreementNumberErrorMsg" class="error-message">
                    {{agreementNumberError}}</p>

                  
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">

                    <label for="workName" class="form-label col-md-5">Work Name<span
                        class="text-danger">*</span></label>
                    <input id="workName" type="text" placeholder="Enter Work Name" class="form-control col-md-7"
                      ng-model="workName" ng-change="validateWorkName()" />

                  </div>
                  <p id="workNameErrorMsg" class="error-message">
                    {{workNameError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="authority" class="form-label col-md-5">Sanctioning Authority<span
                        class="text-danger">*</span></label>


                    <select id="authority" class="form-select col-md-7" aria-label="Default select example"
                      ng-model="authority" ng-change="onChangeAUthority()">

                      <option value="">Select an Option</option>

                      <option ng-repeat="option in selectedAuthority" value="{{option.id}}">{{option.text}}</option>

                    </select>


                    <p id="goNumberErrorMsg" class="error-message">
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="estimateCOntract" class="form-label col-md-5">Estimate Contract Value<span
                        class="text-danger">*</span></label>
                    <input id="estimateContract" type="text" placeholder="Enter Estimate Contact Value"
                      class="form-control col-md-7" ng-model="estimateContract" ng-change="validateEstimateContract()" />

                  </div>
                  <p id="estimateContractErrorMsg" class="error-message">
                    {{estimateContractError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="agreementContract" class="form-label col-md-5">Agreement Contract Value<span
                        class="text-danger">*</span></label>
                    <input id="agreementContract" type="text" placeholder="Enter Ageement Contract Value"
                      class="form-control col-md-7" ng-model="agreementContract" ng-change="validateaAgreementContract()" />

                  </div>
                  <p id="agreementContractErrorMsg" class="error-message">
                    {{agreementContractError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="expendatureDate" class="form-label col-md-5">Expendature Till Date<span
                        class="text-danger">*</span></label>
                    <input id="expendatureDate" type="date" placeholder="Enter Total Expendature Till Date"
                      class="form-control col-md-7" ng-model="expendatureDate" ng-change="validateExpendatureDate()" />
                     
                  </div>
                  <p id="expendatureDateErrorMsg" class="error-message">
                    {{expendatureDateError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="pendingAmount" class="form-label col-md-5">Pending Bills Amount in EMS<span
                        class="text-danger">*</span></label>
                    <input id="pendingAmount" type="text" placeholder="Enter Pending Bills Amount in EMS"
                      class="form-control col-md-7" ng-model="pendingAmount" ng-change="validatePendingAmount()" />

                  </div>
                  <p id="pendingAmountErrorMsg" class="error-message">
                    {{pendingAmountError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="tendurePercentage" class="form-label col-md-5">Tendure Percentage (%)<span
                        class="text-danger">*</span></label>
                    <input id="tendurePercentage" type="text" placeholder="Enter Tendure Percentage"
                      class="form-control col-md-7" ng-model="tendurePercentage"
                      ng-change="validateTendurePercentage()" />

                  </div>
                  <p id="tendurePercentageErrorMsg" class="error-message">
                    {{tendurePercentageError}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="authority" class="form-label col-md-5">SSR Year (Standard Schedule Rate)<span
                        class="text-danger">*</span></label>


                    <select id="SSRYear" class="form-select col-md-7" aria-label="Default select example"
                      ng-model="SSRYear" ng-change="onChangeSSRYear()">

                      <option value="">Select an Option</option>

                      <option ng-repeat="option in selectedSSRYear" value="{{option.id}}">{{option.text}}</option>

                    </select>


                    <p id="SSRYearErrorMsg" class="error-message">
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="markDate" class="form-label col-md-5">Date of Mark out(Start date)<span
                        class="text-danger">*</span></label>
                    <input id="markDate" type="date" placeholder="MarkOut Date"
                      class="form-control col-md-7" ng-model="markDate" ng-change="validatemarkDate()" />

                  </div>
                  <p id="markDateErrorMsg" class="error-message" >
                    {{markDateError}}</p>
                </div>
             
              <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap work-id mb-2 mt-2">
                <div class="col-12 col-md-6 d-flex flex-column">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="workComplition" class="form-label col-md-5">Is Work Completed<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="workComplition" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>
  
              </div>

              <div class="col-12 col-md-6 d-flex flex-column mt-2">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <label for="markDate" class="form-label col-md-5">Work Period<span
                      class="text-danger">*</span></label>
                      <div class="d-flex flex-row gap-2">
                        <div>
                      <input type="text" id="startMonth" name="startMonth" ng-model="startMonth" placeholder="ex: 12" class="me-2 form-control" ng-blur="validateStartMonth()">
                      <p>(In months)</p>
                    </div>
                    <div>
                      <input type="text" id="startDate" name="startDate" ng-model="startDate" placeholder="ex: 36" class="form-control" ng-blur="validateStartDate()">
                      <p>(In days)</p>
                    </div>
                    </div>

                </div>
               
              </div>

              <div class="col-12 col-md-6 d-flex flex-column mt-2">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <label for="expectedDate" class="form-label col-md-5">Expected date of completion<span
                      class="text-danger">*</span></label>
                  <p id="expectedDate" 
                    class="col-md-7" ng-model="expectedDate" ng-change="validatemarkDate()" >--</p>

                </div>
              
              </div>

              <div class="col-12 col-md-6 d-flex flex-column mt-2">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <label for="extensionTime" class="form-label col-md-5">EOT (Extension of Time)<span
                      class="text-danger">*</span></label>
                  <input id="extensionTime" type="date" placeholder="Extension of Time"
                    class="form-control col-md-7" ng-model="extensionTime" ng-change="validateExtensionTime()" />

                </div>
                <p id="extensionTimeErrorMsg" class="error-message" >
                  {{extensionTimeError}}</p>
              </div>

              

              <div class="col-12 col-md-12 d-flex flex-column mt-2">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <label for="eotDoc" class="form-label col-md-2">EOT Doc<span
                        class="text-danger">*</span></label>
                  <div class="col-9 col-md-5 d-flex gap-2 ms-3">
                    <div class="col-md-12 choose ms-md-5 ps-1 d-flex align-items-center">
                      <input type="file" id="uploadFile" ng-model="selectedFiles">
                      
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                      <button ng-click="addFiles()" id="addButton" class="btn btn-success" >Add </button>
                      
                    </div>
                  </div>
                 
                </div>
                <div id="fileWrapper">
                  <div ng-repeat="file in uploadedFiles" class="show-file-box">
  
                    <div class="left d-flex justify-content-between col-12">
                      <p>{{ file }}</p>
                      <p ng-click="removeFile($index)"><i class="bi bi-x" style="font-size: 20px; font-weight: 600;"></i></p>
                    </div>
                  </div>
                </div>
                <p id="DocumentsErrorMsg" class="error-message">
                </p>
                </div>

                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="margineMoney" class="form-label col-md-5">Margine Money<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="margineMoney" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="coveredWork" class="form-label col-md-5">Workid is coverd under Rate contract?<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="coveredWork" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="earnMoney" class="form-label col-md-5">Earnest Money Deposit (EMD) applicable<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="earnMoney" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="securityDeposit" class="form-label col-md-5">Additional Security Deposit(ASD)<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="securityDeposit" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>
              
                <div class="col-12 col-md-6 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
                    <label for="supplyAgreement" class="form-label col-md-5">Supplement Agreement Available?<span
                          class="text-danger">*</span></label>
                    <div class="d-flex  justify-content-start align-items-center gap-2 col-12 flex-wrap  mb-2">
                      <div ng-repeat="each in workCompleted">
                        <input type="radio" name="supplyAgreement" value="{{each.id}}" />
                        <label class="ms-1 me-3">{{each.text}}</label>
                      </div>
                    </div>
                  </div>
  
                </div>

                <div class="admin-section mt-4">
                  <h6>Agency Details</h6>
  
                  <div class="col-12 col-md-6 d-flex flex-column mt-2">
                    <div class="d-flex flex-column flex-md-row align-items-md-center">
                      <label for="goNumber" class="form-label col-md-5">Agency PAN<span
                          class="text-danger">*</span></label>
  
  
                          <div class="col-9 col-md-10 d-flex gap-2">
                            <input id="panNumber" type="text" placeholder="Agency PAN Number" class="form-control col-md-7"
                              ng-model="panNumber" ng-change="validatePanNumber()" />
                            <div class="d-flex align-items-center justify-content-center mb-1">
                              <button class="btn btn-primary" ng-click="searchPanNumber()">
                                Search
                              </button>
                            </div>
                          </div>
  
  
                     
                    </div>
                  </div>
                  <p id="panNumberErrorMsg" class="error-message">{{panNumberError}}
                  </p>
                  <div class="d-flex justify-content-center">
                    <div ng-hide="{{'spin'}}">
                    <div class="spinner-border" role="status"  >
                      <!-- <span class="sr-only" id="loading"></span> -->
                    </div>
                  </div>
                  </div>
                  <div class="col-12 col-md-7 d-flex flex-column mt-2 m-auto">
                    <div class="d-flex flex-column flex-md-row align-items-md-center">
                      <div class="table-responsive">
                       
  
                      <table class="table table-striped col-12">
                        <thead class="table-info">
                          <tr>
                            <th scope="col-1">#</th>
                            <th scope="col-3">Agency Name</th>
                            <th scope="col-3">Agency PAN/TAN No.</th>
                            <th scope="col-2">Agency GSTIN.</th>
                            <th scope="col-3">Agency Phone No.</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ details.id }}</td>
                            <td>{{ details. agency_name }}</td>
                            <td>{{ details. pan_number }}</td>
                            <td>{{ details. gst }}</td>
                            <td>{{ details. phone_no }}</td>
                            
                          </tr>
                        </tbody>
                      </table>
                     </div>
                    </div>
                  </div>
  
                </div>


                <div class="col-12 col-md-12 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="eotDoc" class="form-label col-md-2">Administrative Sanction G.O<span
                          class="text-danger">*</span></label>
                    <div class="col-9 col-md-5 d-flex gap-2 ms-3">
                      <div class="col-md-12 choose ms-md-5 ps-1 d-flex align-items-center">
                        <input type="file" id="uploadGOFile" file-model="selectedFiles" multiple>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-1">
                        <button ng-click="addGoFile()" id="addButton1" class="btn btn-success" > Add </button>
                        
                      </div>
                    </div>
                   
                  </div>
                  <div id="fileWrapper1">
                    <div ng-repeat="file in uploadedGOFiles" class="show-file-box">
    
                      <div class="left d-flex justify-content-between col-12">
                        <p>{{ file }}</p>
                        <p ng-click="removeGoFile($index)"><i class="bi bi-x" style="font-size: 20px; font-weight: 600;"></i></p>
                      </div>
                    </div>
                  </div>
                  <p id="goDocErrorMsg" class="error-message">
                  </p>
                  </div>
                <div class="col-12 col-md-12 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="eotDoc" class="form-label col-md-2">Agreement Contract<span
                          class="text-danger">*</span></label>
                    <div class="col-9 col-md-5 d-flex gap-2 ms-3">
                      <div class="col-md-12 choose ms-md-5 ps-1 d-flex align-items-center">
                        <input type="file" id="uploadAgreement" file-model="selectedFiles" multiple>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-1">
                        <button ng-click="addAgreementFiles()" id="addButton2" class="btn btn-success" > Add </button>
                        
                      </div>
                    </div>
                   
                  </div>
                  <div id="fileWrapper2">
                    <div ng-repeat="file in uploadedAgreement" class="show-file-box">
    
                      <div class="left d-flex justify-content-between col-12">
                        <p>{{ file }}</p>
                        <p ng-click="removeAgreementFile($index)"><i class="bi bi-x" style="font-size: 20px; font-weight: 600;"></i></p>
                      </div>
                    </div>
                  </div>
                  <p id="agreementErrorMsg" class="error-message">
                  </p>
                  </div>

                  <div class="col-12 col-md-12 d-flex flex-column mt-2">
                  <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <label for="eotDoc" class="form-label col-md-2">Other Doc<span
                          class="text-danger">*</span></label>
                    <div class="col-9 col-md-5 d-flex gap-2 ms-3">
                      <div class="col-md-12 choose ms-md-5 ps-1 d-flex align-items-center">
                        <input type="file" id="otherDoc" file-model="selectedFiles" multiple>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-1">
                        <button ng-click="addOtherDocs()" id="addButton3" class="btn btn-success" > Add </button>
                        
                      </div>
                    </div>
                   
                  </div>
                  <div id="fileWrapper3">
                    <div ng-repeat="file in uploadedOtherDocs" class="show-file-box">
    
                      <div class="left d-flex justify-content-between col-12">
                        <p>{{ file }}</p>
                        <p ng-click="removeOtherDocs($index)"><i class="bi bi-x" style="font-size: 20px; font-weight: 600;"></i></p>
                      </div>
                    </div>
                  </div>
                  <p id="agreementErrorMsg" class="error-message">
                  </p>
                  </div>
              
  

              <hr />
              <div class="col-8 d-flex justify-content-end">
                <button class="btn btn-primary" ng-click="onClickNext()">
                  <i class="bi bi-caret-right"></i> Next
                </button>
              </div>
              <div class="col-12 mt-1 d-flex flex-row justify-content-center align-items-center text-success fs-6">
                <p id="demo">{{demo}}</p>
              </div>
             
   
            </form>
          </div>
          <ui-view></ui-view>

        </div>
      </div>
    </div>
  </div>